$ff-palanquin: "Palanquin", sans-serif;
$ff-fira: 'Fira Sans Condensed', sans-serif;
$ff-exo: 'Exo 2', sans-serif;

// ---colores---
// color de base
$c-base: linear-gradient(180deg, #FFFDE0 -2.34%, #FFF 100%);

// color de nav
$c-nav: #8660BF;

// color de fondo de contenedores
$c-fprimario: #FFF9FF;
$c-fsecundario: #242424;

// color de botones
$c-bprimario: #CFFF00;
$c-bsecundario: #222222;

// fondo de tarjetas 
$c-ftarjeta: linear-gradient(180deg, #CDC4FF 0%, #F3E6FF 100%);

// fondo de footer
$c-footer: #262626;

// color de textos
$c-tprimario: #222222;
$c-tsecundario: #ffffff;
$c-tparrafo: #303030;
$c-h1: #181818;
$c-h2: #1E1E1E;
$c-h3: #151515;

@mixin MQ-md {
    @media (min-width:768px) {
        @content;
    }
}

@mixin MQ-lg {
    @media(min-width:1024px) {
        @content;
    }
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

img {
    width: 100%;
    max-height: 36.0625rem;
}

p {
    font-family: 'Palanquin', sans-serif;
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem;
}

/* ---- estilos pagina index ---- */


/* ---- estilos del body ---- */
body {
    background: linear-gradient(180deg, #FFFDE0 -2.34%, #FFF 100%);
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    min-width: 10rem;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
    color: $c-tsecundario;
    background: $c-bsecundario;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.50);
    font-family: $ff-exo;
    font-size: 1rem;
    font-weight: 600;
}