.slider {
	width: 100%;
	height: auto;
	margin: auto;
	overflow: hidden;
	background: $c-fsecundario;
	padding: 2rem 0rem 2rem 0rem;

	.slide-track {
		display: flex;
		gap: 3rem;
		animation: scroll 40s linear infinite;
		-webkit-animation: scroll 40s linear infinite;
		width: calc(245px * 16);
	}

	.slide {
		max-height: 5rem;
		width: 12.5rem;
		padding: 1rem;

		.img {
			width: 100%;
		}
	}
}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform:translateX(calc(245px * 6));
		transform: translateX(calc(-245px * 6));
	}
}