

$animationSpeed: 10s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-7.5rem * 5 ))}
}


// Styling
.slider {
	background: $c-fsecundario;
	height: auto;
	margin: auto;
	padding-top: 2rem;
    padding-bottom: 2.5rem;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {

		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 20);
	}
	
	.slide {
		max-height: 2.5rem;
		max-width: 8rem;
        margin-left: 5rem;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}
}